.install {
    margin: 0 10px;
    border: 0;
    outline: 0;
    background-color: #242323c2;
    color: white;
}

    .install i {
        border: 1px solid white;
        border-radius: 50%;
        padding: 3px 4px;
        font-size: 70%;
        margin-right: 3px;
    }

.button .notif {
    display: inline-block;
}

    .button .notif i {
        background-color: #242323c2;
        color: #a7a7a7;
        border: 1px solid #242323c2;
        border-radius: 50%;
        padding: 5px 6px;
        font-size: 180%;
        margin-right: 3px;
    }

.button .avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: violet;
    border-radius: 50%;
}

.Music-play {
    margin-top: -70px;
    display: flex;
    align-items: center;
    background:linear-gradient(180deg, #555555, #2a2a2a);
}

    .Music-play img {
        width: 200px;
        margin: 20px;
        margin-top: 100px;
        border-radius: 5px;
    }

    .Music-play .content {
        margin-top: 150px;
        height: auto;
        display: inline-block;
    }

        .Music-play .content p {
            color: white;
            font-size: 130%;
            font-weight: bold;
        }

        .Music-play .content h2 {
            font-weight: bold;
            font-size: 600%;
            margin: 0;
            margin-bottom: 20px;
        }

            .Music-play .content h2:hover {
                text-decoration: none;
            }

#Playlist {
    padding: 30px;
    background: linear-gradient(180deg, #222222 10%, #151212 90%);
}

    #Playlist .playlist-button {
        display: flex;
        align-items: center;
    }

        #Playlist .playlist-button .play-btn i {
            font-size: 210%;
            color: #000000;
            background-color: #16d559;
            border-radius: 50%;
            padding: 17px 19px 17px 22px;
            cursor: pointer;
        }

        #Playlist .playlist-button .like-btn {
            margin: 30px;
        }

            #Playlist .playlist-button .like-btn i {
                font-size: 300%;
                color: #a7a7a7;
                cursor: pointer;
            }

                #Playlist .playlist-button .like-btn i:hover,
                #Playlist .playlist-button .more-btn i:hover {
                    color: white;
                }

        #Playlist .playlist-button .more-btn i {
            color: #a7a7a7;
            font-size: 230%;
        }

.playlist-song {
    width: 100%;
    height: auto;
}

    .playlist-song li {
        list-style-type: none;
        position: relative;
        padding: 20px;
        display: flex;
        align-items: center;
        margin: 0;
        cursor: pointer;
        transition: 0.3s linear;
    }

        .playlist-song li .soTT {
            font-size: 120%;
        }

        .playlist-song li img {
            width: 40px;
            border-radius: 5px;
            position: absolute;
            left: 40px;
        }

        .playlist-song li h5 {
            position: absolute;
            left: 100px;
            font-size: 140%;
            font-weight: 100;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .playlist-song li p {
            position: absolute;
            left: 450px;
        }

        .playlist-song li h5 p:hover {
            text-decoration: underline;
        }

        .playlist-song li h5 p {
            margin-right: 10px;
            margin-top: 5px;
            font-size: 100%;
            color: #a7a7a7;
        }

        .playlist-song li:hover .like-btn {
            opacity: 1;
        }

        .playlist-song li .like-btn {
            position: absolute;
            right: 200px;
            opacity: 0;
            transition: opacity 0.3s ease; /* Optional: add a transition effect for smoother visibility */
        }

        .playlist-song li .songtime {
            position: absolute;
            right: 30px;
        }

        .playlist-song li:hover {
            background: rgb(105, 105, 105, 0.1);
        }

.music-box .play-song {
    display: flex;
}
.play-song{
    display:block;
}

    .music-box .play-song img {
        width: 55px;
        height: 55px;
        margin-left: -5px;
        margin-right: 10px;
    }

    .music-box .play-song .play-songname {
        margin-top: 15px;
        font-size: 120%;
    }

    .music-box .play-song .subtitle {
        font-size: 80%;
        color: #a7a7a7;
    }

.music-box .play-box .controls {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

    .music-box .play-box .controls button {
        border: 0;
        outline: 0;
        margin: 0 10px;
        background-color: transparent;
        cursor: pointer;
    }

        .music-box .play-box .controls button i {
            color: #a7a7a7;
            font-size: 150%;
        }

            .music-box .play-box .controls button i:hover {
                color: white;
            }

.btn-play {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: coral;
    cursor: pointer;
    border: none;
}

    .btn-play span {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translateY(-50%);
        width: 5px;
        height: 20px;
        border-radius: 2px;
        background: beige;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: 0.5s;
    }

        .btn-play span:nth-child(2) {
            left: 55%;
            transform-origin: center;
        }

    .btn-play.pause span:nth-child(2) {
        transform: translateY(-50%) scale(0);
    }

    .btn-play.pause span:nth-child(1) {
        width: 35%;
        height: 53%;
        transform: translate(30%, -50%);
        border-radius: 0;
        clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
    }

.music-slider {
    width: 100%;
    float: left;
    position: relative;
}

.seek-bar {
    width: 500px;
    height: 5px;
    border-radius: 10px;
    background: #ccc;
    appearance: none;
    cursor: pointer;
    overflow: hidden;
}

.seekbar::-webkit-slider-thumb {
    appearance: none;
    width: 1px;
    background: #ccc; /* Background mặc định */
    height: 20px;
    transition: 0.3s; /* Thêm transition để hiệu ứng mượt mà */
}

.seek-bar:hover::-webkit-slider-thumb {
    background: forestgreen; /* Background khi hover vào .volumn */
    box-shadow: -400px 0 0 400px rgb(20, 230, 55);
}

.current-time,
.music-time {
    font-size: 15px;
}

.current-time {
    position: absolute;
    float: right;
    left: -50px;
    top: -2px;
}

.music-time {
    position: absolute;
    float: left;
    right: -50px;
    top: -2px;
}

.music-volumn {
    margin-top: 20px;
    position: relative;
}

    .music-volumn span {
        position: absolute;
        left: -30px;
    }

        .music-volumn span i {
            font-size: 150%;
            margin-right: 10px;
        }

    .music-volumn .volumn {
        height: 3px;
        width: 100px;
        border-radius: 10px;
        background: #ccc;
        appearance: none;
        cursor: pointer;
        overflow: hidden;
    }

        .music-volumn .volumn::-webkit-slider-thumb {
            appearance: none;
            width: 1px;
            background: #ccc; /* Background mặc định */
            height: 20px;
            transition: 0.3s; /* Thêm transition để hiệu ứng mượt mà */
        }

        .music-volumn .volumn:hover::-webkit-slider-thumb {
            background: forestgreen; /* Background khi hover vào .volumn */
            box-shadow: -400px 0 0 400px rgb(20, 230, 55);
        }
