* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: white;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    background-color: #000000;
    overflow-y: auto;
    position: relative;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #a7a7a7;
}

    a:hover:hover {
        color: white;
    }

.btn {
    font-size: 140%;
    font-weight: 600;
    color: #242323;
    background-color: #fff;
    padding: 11px 23px;
    border-radius: 40px;
    cursor:pointer;
}

    .btn:hover {
        transform: scale(105%);
    }

::-webkit-scrollbar {
    background: transparent;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    width: 2px;
}

:root {
    --footer-height: 70px;
    --gap-layout: 7px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-layout);
}

.container {
    padding: 7px;
    padding-bottom: 0;
    display: flex;
    gap: var(--gap-layout);
    overflow: hidden;
    height: calc(100vh - var(--footer-height) - var(--gap-layout));
}

    .container::-webkit-scrollbar {
        width: 5px;
        background: #242424;
    }

    .container::-webkit-scrollbar-thumb {
        width: 5px;
        background: #242424;
    }
/*-----------------------SiderBar-Nav-------------------------*/
.header-sidebar {
    width: 280px;
}

.sidebar-nav {
    background-color: #121212;
    color: #a7a7a7;
    font-weight: 600;
    padding: 25px;
    margin-bottom: 7px;
    border-radius: 10px;
}

    .sidebar-nav img {
        width: 80px;
    }

    .sidebar-nav ul {
        list-style: none;
    }

        .sidebar-nav ul li {
            padding: 20px 5px;
            margin-bottom: 5px;
            padding-bottom: 0;
            transition: all 0.3s;
        }

            .sidebar-nav ul li:hover {
                color: #ffffff;
            }

            .sidebar-nav ul li i {
                font-size: 200%;
            }

            .sidebar-nav ul li span {
                font-size: 160%;
                margin-left: 20px;
            }
/*-----------------------Sidbar-Nav-Library-------------------------*/
.box2 {
    padding: 0;
    padding-bottom: 20px;
    position: relative;
}

.library {
    margin-left: 20px;
    display: inline-block;
}

.create {
    position: relative;
}

.plus {
    font-size: 170%;
    float: right;
    padding: 5px 6px;
    border-radius: 20px;
    margin-top: -28px;
    margin-right: 20px;
    position: relative;
}

    .plus:hover {
        color: #ffffff;
        background-color: #000000;
    }

.create p {
    position: absolute;
}

.create .hover {
    background-color: #242424;
    color: #ffffff;
    font-weight: 400;
    padding: 7px;
    font-size: 140%;
    top: -70px;
    right: -30px;
    display: none;
    position: absolute;
}

.plus:hover ~ .hover {
    display: block;
}

.create .active {
    cursor: pointer;
    font-weight: 400;
    background-color: #242424;
    padding: 15px;
    font-size: 140%;
    right: -100px;
    position: absolute;
    display: none;
}

.create .show {
    display: block;
}

.create .active:hover {
    color: #ffffff;
}
/*-----------------------Sidbar-Nav-Scroll-------------------------*/
.sidebar-scroll {
    height: 220px;
    width: 100%;
    padding: 3px;
    overflow: auto;
}

    .sidebar-scroll::-webkit-scrollbar {
        background: transparent;
        overflow: auto;
        width: 10px;
    }

    .sidebar-scroll::-webkit-scrollbar-thumb {
        overflow: auto;
        background: transparent;
        border-radius: 10px;
    }

    .sidebar-scroll:hover::-webkit-scrollbar-thumb {
        background: rgba(194, 192, 192, 10);
    }

.playlist {
    background-color: #242424;
    border-radius: 15px;
    padding: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}

.sidebar-scroll h4 {
    font-size: 160%;
    margin-bottom: 10px;
    font-weight: 600;
}

.playlist p {
    font-size: 140%;
    font-weight: 500;
    padding: 10px 0;
    margin-bottom: 10px;
}

.liked .liked-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 100%;
    color: #a7a7a7;
}

    .liked .liked-item span {
        font-size: 100%;
    }

    .liked .liked-item span {
        margin: 0;
        padding: 0;
    }

        .liked .liked-item span:hover {
            color: white;
        }

    .liked .liked-item p {
        margin: 0;
        margin-left: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        .liked .liked-item p:hover {
            color: white;
        }

    .liked .liked-item i {
        opacity: 0;
    }

    .liked .liked-item:hover i {
        opacity: 1;
    }

    .liked .liked-item i:hover {
        color: white;
    }

/*-----------------------Sidbar-Nav-Privacy-------------------------*/
.privacy {
    padding: 10px 20px;
}

    .privacy ul li a {
        color: #a7a7a7;
        text-decoration: none;
        font-weight: 600;
        margin-right: 20px;
    }

        .privacy ul li a:hover {
            text-decoration: underline;
        }

.eng-btn {
    line-height: 30px;
    text-align: center;
    width: 90px;
    height: 30px;
    margin-left: 25px;
    margin-top: 30px;
    color: #ffffff;
    border: 1px solid #a7a7a7;
    border-radius: 20px;
    margin-bottom: 15px;
}

    .eng-btn i {
        font-size: 140%;
        margin-right: 5px;
    }

    .eng-btn button {
        border: 0;
        font-size: 120%;
        font-weight: bold;
        background-color: transparent;
        outline: none;
        color: #ffffff;
    }

    .eng-btn:hover {
        transform: scale(103%);
        border: 1px solid #ffffff;
    }
/*----------------------------Main----------------------*/
.top-nav .prev-btn {
    margin-left: 20px;
}

    .top-nav .prev-btn button {
        background-color: transparent;
        color: #a7a7a7;
        border: 0;
        outline: 0;
        margin: 5px;
        padding: 4px 10px;
        border-radius: 50%;
        background-color: #0d0c0c;
        font-size: 200%;
        font-weight: lighter;
    }

.sign-up {
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #a7a7a7;
    font-size: 150%;
    font-weight: bold;
    margin-right: 20px;
}

    .sign-up:hover {
        transform: scale(105%);
        color: #fff;
    }

.login {
    margin-right: 20px;
    padding: 15px 34px;
    font-size: 150%;
}
.user_icon {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    right: 20px;
    background: linear-gradient(90deg, #af2896 0%, #509bf5 100%);
    border-radius: 50%;
    box-shadow: 10px 15px 20px 6px #232323;
}
    .user_icon i {
        position: absolute;
        top: 13px;
        left: 12px;
        font-size: 150%;
    }
    .main {
        background-color: #181818;
        width: calc(85% - 21px);
        border-radius: 10px;
    }

.content {
    height: 728px;
    overflow-y: scroll;
}

.top-nav {
    height: 64px;
    position: sticky;
    top: 0;
    border-top-left-radius: 10px;
    background-color: #111111f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 220%;
    margin-top: 7px;
    margin-left: 20px;
}

    h2:hover {
        text-decoration: underline;
    }

.see {
    color: #a7a7a7;
    float: right;
    font-size: 140%;
    font-weight: 600;
    margin-right: 20px;
    margin-top: 20px;
}

    .see:hover {
        text-decoration: underline;
    }

.spotify {
    margin-block: 20px;
    margin-left: 15px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--gap-layout);
}

.item {
    margin-top: -10px;
    width: 186px;
    padding-bottom: 20px;
    border-radius: 10px 10px 0 0;
}

.spotify .item:hover {
    background-color: #242424;
}

.spotify .item img {
    width: 92%;
    margin-left: 5px;
    margin-top: 10px;
}

.artists .item img {
    border-radius: 50%;
    box-shadow: inset 1px 2px red;
}

.artists {
    margin-bottom: 20px;
}

.spotify .item {
    font-weight: thin;
    color: white;
}

    .spotify .item h4 {
        padding: 0 7px;
        font-size: 150%;
        color: white;
        margin-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .spotify .item p {
        margin-top: 7px;
        padding: 0 10px;
        padding-right: 10px;
        font-size: 140%;
        color: #a7a7a7;
    }

        .spotify .item p:hover {
            text-decoration: underline;
        }

.spotify .play-btn {
    position: relative;
}

    .spotify .play-btn i {
        font-size: 220%;
        position: absolute;
        color: #000000;
        background-color: #16d559;
        border-radius: 50%;
        padding: 14px 14px 12px 16px;
        right: 15px;
        top: -40px;
        opacity: 0;
        transition: 0.3s ease all;
    }

.spotify .item:hover .play-btn i {
    opacity: 0.83;
    transform: translateY(-20px);
}

.albums .item img {
    cursor: pointer;
    border-radius: 7px;
    margin-left: 7px;
}

.footer-section {
    background-color: #181818;
    padding: 40px 40px;
    padding-bottom: 0px;
}

    .footer-section .footer1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
        color: white;
    }

        .footer-section .footer1 .footer-links {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 50px;
        }

            .footer-section .footer1 .footer-links .footer-column {
                margin-right: 100px;
            }

                .footer-section .footer1 .footer-links .footer-column div {
                    font-size: 150%;
                    font-weight: 600;
                }

                .footer-section .footer1 .footer-links .footer-column ul {
                    margin-left: 5px;
                }

                    .footer-section .footer1 .footer-links .footer-column ul li {
                        list-style: none;
                        margin: 12px 0;
                        font-weight: lighter;
                    }

                        .footer-section .footer1 .footer-links .footer-column ul li a {
                            text-decoration: none;
                            color: #a7a7a7;
                            font-size: 140%;
                            font-weight: 600;
                            cursor: pointer;
                        }

                            .footer-section .footer1 .footer-links .footer-column ul li a:hover {
                                text-decoration: underline;
                            }

        .footer-section .footer1 .social-links div {
            margin-right: 30px;
        }

            .footer-section .footer1 .social-links div i {
                font-size: 150%;
                color: white;
                background-color: #353434;
                padding: 10px 12px;
                border-radius: 50%;
                margin: 0 5px;
                cursor: pointer;
            }

                .footer-section .footer1 .social-links div i:hover {
                    background-color: #4a4949;
                }

hr {
    margin-top: 20px;
    border: 0.5px solid #242424;
}

.copyright {
    padding: 30px 0 55px 0;
    color: #a7a7a7;
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 60px;
}

.preview {
    overflow: auto;
    display: flex;
    margin: 5px;
    margin-right: 0;
    height: 66.78px;
    padding: 11px 24px 7.39px 15px;
    justify-content: space-between;
    background: linear-gradient(90deg, #af2896 0%, #509bf5 100%);
}

    .preview h4 {
        margin-top: 5px;
        color: rgba(255, 255, 255, 1);
        font-size: 130%;
        font-weight: bold;
    }

    .preview p {
        font-weight: 600;
        margin-top: 5px;
        font-size: 150%;
        color: rgba(255, 255, 255, 1);
    }

.hide {
    display: none;
}
